<!doctype html>
<html lang="es">
<head>
    <title>Ruby + React </title>
    <%= javascript_pack_tag 'application' %>
</head>
<body>
    <h1>Como integrar? xd </h1>
    <div id="root"></div>
    <%= react_component("UbicacionPuntero") %>
</body>
</html>
